 @model SchoolManagementSystem.Models.TimeTable

@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-controller="TimeTable" asp-action="Delete">
    <input asp-for="TimeTableId" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h1 class="text-info p1-3">Delete TimeTable</h1>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ClassId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ClassId" class="form-control" />
                        <span asp-validation-for="ClassId" class="text-danger"></span>
                    </div>
                     <div class="col-4">
                        <label asp-for="TimeTableId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TimeTableId" class="form-control" />
                        <span asp-validation-for="TimeTableId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TeacherId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TeacherId" class="form-control" />
                        <span asp-validation-for="TeacherId" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="SessionNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SessionNumber" class="form-control" />
                        <span asp-validation-for="SessionNumber" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Timings"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Timings" class="form-control" />
                        <span asp-validation-for="Timings" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    @*<div class="col-6 offset-4 row">*@
                    <div class="col-4 offset-4">
                        <input type="submit" class="btn btn-info w-100" value="Delete" />
                    </div>
                    <div class="col">
                            @if (ViewBag.Message != null)
                            {
                                <a class="nav-link text-dark btn-primary font-weight-bold" style="margin: 10px; background-color: lightyellow;top: 2px " asp-area="" asp-controller="TimeTable" asp- asp-action="Get">Get TimeTable</a>
                                //<a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: #ff8d00;float: right" asp-area="" asp-controller="ClassRoom" asp- asp-action="Update">Get ClassRoom Details</a>
                                <script type="text/javascript">
                                                    window.onload = function () {
                                                    alert("@ViewBag.Message");
                                                    };
                                </script>
                            }
                        </div>
                    @*</div>*@
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</form>



