@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CBSE</h1>
    <h2>School Management System</h2>


    <div>
        <div class="col-5">
        <a class="nav-link text-dark btn-primary font-weight-bold" style="position:relative; margin: 10px; background-color: palevioletred;float:right" asp-area="" asp-controller="Staff" asp- asp-action="LogIn">Administrator</a>
        </div>
            <div class="container">
            <div class="btn-group">
                </h3><button type="button" class="nav-link text-dark btn-primary font-weight-bold" style="margin: 1px; background-color: palevioletred;float: initial" asp-area="" asp-controller="Staff" asp- asp-action="LogIn">Principal</button></h3>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <a class="nav-link text-dark btn-primary font-weight-bold" style="background-color: #FFFFFF; float: left" asp-area="" asp-controller="Staff" asp- asp-action="LogIn">VicePrincipal</a>
                    @*<a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lemonchiffon; float:right" asp-area="" asp-controller="Staff" asp- asp-action="LogIn">Principal</a>
                    <a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lavenderblush; float:right" asp-area="" asp-controller="Staff" asp- asp-action="LogIn">VicePrincipal</a>*@
                </ul>
            </div>
        </div>
    </div>
        </div>>
